
<div class="container">

  <div class="row">

<div class="col-md-6">
  <table class="table table-striped">
      <div class="scroll">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">capital City</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let country of countries; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td><button class="btn btn-sm btn-primary" (click)="viewMore(country)">View</button></td>
      </tr>
    </tbody>
  </div>
  </table>
</div>



    <div class="col-md-6">

      <div class="row mt-5" *ngIf="view">
        <div class="col-6">
          <img [src]='view.flag' alt="thumbnail" class="img-thumbnail"
  style="width: 200px">
        </div>
        <div class="col-6 mt-2">
          <h2>{{ view.name }}</h2>
          city: {{ view.capital }}
        </div>
      </div>
    </div>



  </div>

</div>




